* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: hotpink;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 1rem 1rem 0rem;
    color: #eaaaaa;
}

header {
    background-color: white;
}